In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as py

In [2]:
df = pd.read_csv('karnataka_forecast_UPto_27.csv')
df.head()

         Date  Peak Demand  Forecasted Demand
0  01-04-2013       7191.0            8809.91
1  02-04-2013       7652.0            9170.42
2  03-04-2013       7620.0            9181.73
3  04-04-2013       7557.0            9172.82
4  05-04-2013       7540.0            9191.12

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5113 entries, 0 to 5112
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               5113 non-null   object
 1   Peak Demand        4018 non-null   float64
 2   Forecasted Demand  5113 non-null   float64
dtypes: float64(2), object(1)
memory usage: 120.0+ KB

In [5]:
df = pd.DataFrame(df)
df

            Date  Peak Demand  Forecasted Demand
0     01-04-2013       7191.0            8809.91
1     02-04-2013       7652.0            9170.42
2     03-04-2013       7620.0            9181.73
3     04-04-2013       7557.0            9172.82
4     05-04-2013       7540.0            9191.12
...          ...          ...                ...
5108  27-03-2027          NaN           22312.68
5109  28-03-2027          NaN           21901.99
5110  29-03-2027          NaN           21824.28
5111  30-03-2027          NaN           22190.58
5112  31-03-2027          NaN           22207.40

[5113 rows x 3 columns]